*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15;
	-webkit-text-size-adjust: 100%; 
	tab-size: 4; 
}

* {
	margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; 
	font-size: 1em; 
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; 
	font-size: 100%; 
	line-height: 1.15;
	margin: 0; 
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield; 
	outline-offset: -2px; 
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; 
	font: inherit; 
}

summary {
	display: list-item;
}
@font-face {
	font-family: 'open-sans';
	src: url(f1a344827891fe193991.woff2) format('woff2-variations');
	font-weight: 300 800;
	font-stretch: 75% 100%;
}

:root {
	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;
}

body {
	min-height: 100vh;
	background-color: var(--slate-950);
	color: var(--slate-50);
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-carousel {
	display: flex;
	align-items: center;
	gap: 16px;
}

.image-carousel-arrow {
	fill: var(--slate-50);
	width: 40px;
	cursor: pointer;
}

.image-carousel-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	user-select: none;
}

.image-carousel-frame-container {
	width: 800px;
}

.image-carousel-frame {
	aspect-ratio: 16/9;
	background-color: var(--slate-600);
	position: relative;
	overflow: hidden;
}

.image-carousel-slides {
	width: 500vw;
	height: 100%;
	position: absolute;
	background-color: red;
	display: flex;
}

.image-carousel-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	width: 800px;
	height: 100%;
}

.image-carousel-slide img {
	min-width: 800px;
}

.image-carousel-navigation {
	display: flex;
	gap: 8px;
}

.navigation-dot {
	width: 20px;
	height: 20px;
	border: 2px solid var(--slate-50);
	border-radius: 16px;
	cursor: pointer;
}

.active {
	background-color: var(--slate-50);
}

